<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.ProjectMapper">

    <resultMap id="BaseResultMap" type="com.qf.entity.Project">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="proexplain" column="proexplain" jdbcType="VARCHAR"/>
            <result property="proprice" column="proprice" jdbcType="DOUBLE"/>
            <result property="prostep" column="prostep" jdbcType="VARCHAR"/>
            <result property="protypeid" column="protypeid" jdbcType="BIGINT"/>
            <result property="proname" column="proname" jdbcType="VARCHAR"/>
            <result property="imageid" column="imageid" jdbcType="BIGINT"/>
            <result property="prostatus" column="prostatus" jdbcType="VARCHAR"/>
            <result property="busid" column="busid" jdbcType="BIGINT"/>
            <result property="tecid" column="tecid" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,proexplain,proprice,
        prostep,protypeid,proname,
        imageid,prostatus,busid,
        tecid
    </sql>
</mapper>
